@media screen and (max-width: 700px ) {
	#wpadminbar {
		display:none !important;
	}
	html {
		margin:0 !important;
	}
}
#header {
	width:100%;
	position: absolute;
	z-index: 101;
	top:0;

	#main-navigation {
		@media screen and (min-width: 700px ) {
			width:80%;
		}
		margin:0 !important;
		float:left;
	}
	.featured-btn {
		background: #ea7a06;
		float: right;
		padding: 25px;
		padding-top:18px;
		position: absolute;
		height: 70px;
		right: 15px;
		color:#FFF;
		font-size: 20px;
	}
	.navbar-default {
		border:transparent !important;
		background: none !important;
		li a {
			color: #FFF;
			font-size:1.4em;
			transition: 300ms ease all;
		}
		li.active a, li a:hover {
			background: transparent;
			color:#ea7a06;
			transition: 300ms ease all;
		}
		li {
			padding-top: 6px;
			padding-bottom:6px;
		}
	}
	.header-image {
		position: absolute;
		top:75px;
		z-index:99;
		@media screen and ( max-width: 700px ) {
			display:none !important;
		}
	}
	.container-menu {
		width:100%;
		background: url( '../images/bg-header.png' ) no-repeat;
		background-size: cover;
		box-shadow: 0px 3px 6px 7px rgba(0,0,0,0.2);
		float:left;
		clear: both;
	}
}
