#open-pin {
	z-index: 99;
	position: absolute;
	top:111px;
	background: url( '../images/bg-pin.png' ) center center no-repeat;
	background-size: cover;
	right:-50vw;
	min-height: 90vh;
	transition:1s ease all;

	&.open {
		transition:1s ease all;
		right:0;
		box-shadow: 3px 8px 4px 0px rgba(0, 0, 0, 0.53);
	}
	.col-md-12 {
		padding-left:3px;
		padding-right:3px;
	}
	.select2-container {
		background:#7c7c7c;
		color:#FFF;
		width:100%;
		font-size: 1.2em;
		border:none !important;
		* {
			border:none !important;
		}
	}
	.select2-selection {
		background:#7c7c7c;
	}
	.select2-container {
		margin-top:10px;
	}
	.select2-selection__rendered li {
		color:#000;
	}
	.slider-pin {
		padding-top:10px;
		padding-bottom: 10px;
		.slick-prev {
			border:none !important;
			background:url( '../images/slider-prev-icon.png' ) center center no-repeat;
			text-indent: -9999px;
			width: 32px;
			height: 32px;
			position: absolute;
			left: -20px;
			top: 90px;
			z-index: 99;
		}
		.slick-next {
			border:none !important;
			background:url( '../images/slider-next-icon.png' ) center center no-repeat;
			text-indent: -9999px;
			width: 32px;
			height: 32px;
			position: absolute;
			right: -20px;
			top: 90px;
			z-index: 99;
		}
		.each-slider {
			padding:0 !important;
			background-size: cover;
			background-position: center;
		}
		.slider-opacity {
			width:100%;
			background:rgba( 0, 0, 0, 0.6 );
			opacity:0;
			transition:300ms ease all;
			height:190px;
			a {
				color:#FFF;
				padding-top:45px;
				span {
					width:100%;
					display: inline-block;
					text-align: center;
					img {
						display: inline !important;
					}
				}
				&:last-child {
					padding-top:35px !important;
				}
			}
			&:hover {
				transition:300ms ease all;
				opacity: 1;
			}
		}
	}
	.slider-pin-nav {
		@media screen and ( max-width: 800 ) {
			display:none;
		}
		.slick-prev {
			border:none !important;
			background:url( '../images/slider-prev-icon.png' ) center center no-repeat;
			text-indent: -9999px;
			width: 32px;
			height: 32px;
			position: absolute;
			left: -20px;
			top: 25px;
			z-index: 99;
		}
		.slick-next {
			border:none !important;
			background:url( '../images/slider-next-icon.png' ) center center no-repeat;
			text-indent: -9999px;
			width: 32px;
			height: 32px;
			position: absolute;
			right: -20px;
			top: 25px;
			z-index: 99;
		}
		a {
			cursor: pointer;
		}
		img {
			width:100% !important;
		}
	}
	.infos {
		* {
			color:#FFF;
			font-weight: 300;
		}
	}
	.infos-select {
		* {
			margin-top:5px;
			margin-bottom: 0 !important;
		}
	}
	.icon-close {
		display: inline-block;
		width:60px;
		height:60px;
		background: url( '../images/icon-close.png' ) center center no-repeat;
		position: absolute;
		left: -35px;
		top: -20px;
		cursor: pointer;
	}
	form button {
		margin-top:10px;
	}
}
